[Unit]
Description=Antioch Coater Slitter
After=multi-user.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/Desktop/ACS
ExecStart=sudo /home/pi/Desktop/ACS/build/ACS 0 00000000
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
